@import "tailwindcss";

@theme {
  --font-dot: var(--font-dot);
  --font-man: var(--font-man);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  cursor: auto; /* Default to auto (system cursor) for mobile */
  font-family: var(--font-man);
}

@media (min-width: 768px) {
  body {
    cursor: none; /* Hide system cursor on desktop to show custom cursor */
  }
}

html.dark body {
    background: #111111;
    color: #ffffff;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
