@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@theme {
  --font-dot: "DotGothic16", sans-serif;
  --font-man: "Manrope", sans-serif;
}

@font-face {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200 800;
  font-style: normal;
  src: url("/fonts/Oswald.woff2") format("woff2");
}
